.header {
  background-color: #6482AD;
  text-align: center;
  top: 0;
  padding: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.header p {
  font-size: 1.2em;
  margin: 0;
  font-weight: bold;
  color: #F5EDED; 
  align-items: center;
  flex: 1;
}

.category-dropdown {
  display: none;
  position: relative; 
  flex: 2; 
  width: 10%;
}

.category-dropdown select {
  padding: 10px;
  font-size: 1em;
  border-radius: 5px;
  width: 100%;
}

.menu {
  float: right;
  width: 10%; 
  height: auto; 
  padding-right: 3%;
  border-radius: 8px 0 0 8px;
  position: fixed;
  right: 0;
  top: auto;
  padding-top: 2%;
}

.menu-link{
  display: block;
}

.menu a {
  display: block;
  background-color: inherit;
  color: black;
  padding: 16px 12px;
  width: 100%;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none; 
  font-weight: bold;
  border-radius: 5px;
}


.menu a:hover {
  background-color: #ddd;
  color: #333;
}


.menu a.active {
  background-color: #ccc;
  color: #000;
}


@media screen and (max-width: 750px) {
  .menu-links {
    display: none; /* Hide menu on smaller screens */
}

.category-dropdown {
    display: block; /* Show dropdown for categories */
    max-width: 150px;
}

.header h1 {
    font-size: 1.5em; /* Reduce title size */
}

.header p {
    font-size: 1em; /* Reduce subtitle size */
}

}



iframe {
  width: 100%;
  height: 90vh; 
  border: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: black;
  text-align: center;
  background-color: #F5EDED;
  padding: 20px;
  margin-right: 2%;
}
