.modal {
    width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}

.productModal {
    position: fixed;
    height: 40%;
    width: 60%;
    background-color: #E9C46A;
    opacity: 50%;
    z-index: 1;
    display: flex;
}