.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(226, 218, 214, 0.6);
    width: 100%;
    height: 100%;
}

.productModal {
    position: relative;
    height: 60vh;
    width: 50vw;
    background-color: rgba(226, 218, 214);
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.productModal #text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: bold;
    font-size: x-large;
    width: 50vw;
}

.productModal img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    max-height: 70%;
}

.productModal button {
    border: 2px solid #6482AD;
    position: absolute;
    width: 8%;
    height: 7%;
    background-color: #E2DAD6;
    border-radius: 15%;
    opacity: 100%;
    bottom: 4%;
    left: 3%;
    font-size: medium;
}

.productModal #add {
    right: 3%;
    width: 11%;
    height: 10%;
    background-color: #6482AD;
    font-size: large;
}

@media screen and (max-width: 750px) {
    .productModal #text {
        font-size: large;
        flex-direction: column;
    }

    .productModal span {
        top: 9%;
        left: 53%;
    }

    .productModal button {
        width: 40%;
        height: 8%;
    }

    #add {
        width: 40%;
        height: 12%;
    }

    .productModal img {
        width: 55%;
        height: auto;
    }
}